.component-search-input {
  border-bottom: 1px solid #ccc;
}

.component-search-input > div {
  margin: 0 10px 10px 10px;
}

.component-search-input input {
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px 8px;
  width: 100%;
}

.component-location-results {
  position: relative;
  display: block;
  z-index: 300;
  background: white;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
