# dependencies
/node_modules
/package-lock.json

/backend/node_modules
/backend/package-lock.json
/backend/config.js

/client/node_modules
/client/build
/client/package-lock.json

# testing
/coverage

# production
